.blog {
  max-width: $layoutw;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 50px;

  &_wrap {
    &-menu {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      border-bottom: 1px solid $light_gray;
      padding-bottom: 15px;

      &_item {
        &:first-child {
          font-weight: 600;
        }
        &-inner {
          font-family: $font;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          cursor: pointer;
          display: block;
          position: relative;
          display: inline-block;
          @include smenu_underline(100%, 0);
        }
      }
    }
  }
}