.sales_slider {
  width: 100%;
  height:166px;
  margin: 10px 0;

  @include breakpoint($phone) {
    margin-bottom: 50px;
    display: block;
    width: 870px;
    height: 360px;
    // display: none;
  }

  &-wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    &_ctas {
      display: none;
      position: absolute;
      @include absCenter();
      left: 60%;
      height: 300px;
      width: 300px;
      z-index: 9999;

      &-button {
        width: 300px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-25%);
        background: $brown;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        cursor: pointer;
        @include btnShadow();
        font-size: $btn_fs;

        span {
          font-family: $font;
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $white;
          text-transform: uppercase;
        }
      }

      &-timer {
        @include bg(cover,center);
        height: 135px;
        width: 400px;
        overflow: hidden;
      }
      &-heading {
        span {
          &:first-child {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-bottom: 10px;
          }

          &:nth-child(2) {
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 100%;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $blue;
            margin-bottom: 5px;
          }

          &:nth-child(3) {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-bottom: 20px;
          }
        }
      }
    }
    &_background {
      height: 100%;
      width: 100%;
      @include bg(cover, center);
      @include breakpoint($medium) {
        width: 870px;
        height: 360px;
      }

    }
  }
}
.sales_slider-card {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    background-position: right!important;
  }

  &_prod {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 156px;
    height: calc(100% - 25px);

    @include breakpoint($medium) {
      transform: translate(20px, -50%);
      width: 300px;
      height: 300px;
      top: 50%;
    }
    
    &-item {
      height: 100%;
      width: 100%;
      background: $white;
      position: relative;

      img {
        position: absolute;
        @include absCenter();
        top: 58%;
        width: 110px!important;

        @include breakpoint($medium) {
          width: 250px!important;
          height: 180px;
          top: 56.7%!important;
          object-fit: cover!important;
        }
      }
    }
  }

  &_items {
    position: absolute;
    right: .42rem;
    top: 1rem;

    @include breakpoint($medium) {
      display: none;
      top: 1.5rem;
    }

    &-heading {
      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      color: $dblack;
      margin-bottom: 15px;
    }

    &-title {
      font-family: $font;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      color: $blue;
    }
    &-desc {
      font-family: $font;
      font-size: 11px;
      line-height: 17px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      color: $dblack;
      margin-bottom: 19px;
    }

    &-nums {
      display: flex;

      &_num {
          width: 35px;
          height: 60px;
          position: relative;
          margin: 0 2px;

          &_back {
            object-fit: cover!important;
          }
          &-dec {
            object-fit: contain!important;
            position: absolute;
            width: 35px;
            height: 5px;
            left: 0;
            top: -4px;
          }

          &-item {
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $yellow;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
      }
    }
  }
}